html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
.img{
    width: 22%;
    height: 43%;
    background-color: yellow;
    margin: 1.25%;
    background-size: cover;
    background-position: center;
    display: inline-block;
    transition: 0.5s;
    filter: drop-shadow(2px 2px 2px white);
    background-position: center;
    cursor: pointer;
}
.img:hover{
    border-radius: 20%;
    box-shadow: 2px 2px 2px 2px black;
    scale: 1.1;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.8),
    0 0 5px rgba(0, 255, 255, 0.7),
    0 0 25px rgba(0, 255, 255, 0.6),
    0 0 50px rgba(0, 255, 255, 0.5),
    0 0 100px rgba(0, 255, 255, 0.4);

}
.img1{
    background-image: url(img1.jpeg);
    filter: blur(4px);
}
.img1:hover{
    filter: blur(0);
}
.img2{
    background-image: url(img2.jpeg);
    filter: contrast(60%);
    filter: hue-rotate(400deg);
}
.img2:hover{
    filter: contrast(100%);
    filter: hue-rotate(0);
}
.img3{
    background-image: url(img3.jpeg);
    filter: brightness(50%);
    filter: hue-rotate(400deg);
}
.img3:hover{
    filter: hue-rotate(0);
    filter: brightness(100%);
}
.img4{
    background-image: url(img4.jpeg);
    filter: grayscale(100%);
    filter: hue-rotate(400deg);
}
.img4:hover{
    filter: grayscale(0);
    filter: hue-rotate(0);
}
.img5{
    background-image: url(img5.jpeg);
    filter: hue-rotate(0deg);
}
.img5:hover{
    filter: hue-rotate(180deg);
}
.img6{
    background-image: url(img6.jpeg);
    filter: invert(0%);
    filter: hue-rotate(400deg);
}
.img6:hover{
    filter: invert(100%);
    filter: hue-rotate(0);
}
.img7{
    background-image: url(img7.jpeg);
    filter: brightness(0);
    filter: blur(4px);
}
.img7:hover{
    /* filter: brightness(100%); */
    filter: blur(0);
}
.img8{
    background-image: url(img8.jpeg);
    filter: grayscale(100%);
    filter: hue-rotate(400deg);
}
.img8:hover{
    filter: grayscale(0);
    filter: hue-rotate(0);
}
.m3{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-left: 10px;
}
button:hover{
    background-color: red;
}
button:focus{
    background-color: blue;
}
.m5{
    border-left: 3px solid black;
}
.m6{
    color: transparent;
    background-attachment: fixed;
    margin: 10px;
    width: 500px;
    height: 50%;
    background-image: url(img9.jpeg);
    background-size: cover;
    transition: 3s;
    margin: auto;
}
.m6:hover{
    color: transparent;
    filter: drop-shadow(8px 8px 8px black);
    scale: 1.04;
    
}
.mo{
    font-family: 'Courier New', Courier, monospace;
    line-height: 50px;
    background-color: lime;
    width: 100%;
    position: absolute;
    text-align: center;
}
form{
    text-align: center;
}
.mo1{
    font-family: 'Courier New', Courier, monospace;
    transition: 2s;
}
.a1{
    text-align: center;
}
.a2{
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}
.m1{
    text-align: center;
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.y{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    width: 115px;
    border-radius: 10%;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 30px;
    height: 50px;
    cursor: pointer;
    border: 2px solid aqua;
    background-color: white;
    margin-left: 190px;
    display: inline-block;
    transition: 3s;
    box-shadow: 0 0 5px white,0 0 10px white;
}
.y:hover{
    border-radius: 50%;
    width: 130px;
    height: 50px;
    color: transparent;
    background-image: url(img11.jpeg);
    background-color: blue;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.8),
    0 0 5px rgba(0, 255, 255, 0.7),
    0 0 25px rgba(0, 255, 255, 0.6),
    0 0 50px rgba(0, 255, 255, 0.5),
    0 0 100px rgba(0, 255, 255, 0.4);
    scale: 1.1;
    filter: drop-shadow(2px 2px 2px white);
}
.oo{
    margin-top: 10px;
}
.mmi{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: lime;
    line-height: 50px;
}
.mmi:hover{
    color: lime;
    background-color: white;
}

.bub{
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 40px auto;
    border: 2px solid black;
    outline:2px solid white;
    background-size: cover;
    background-image: url(bulbul.jpeg);
    filter: blur(5px);
    transition: 0.7s;
    /* box-shadow: 0 0 5 aqua,0 0 10 aqua; */
}
.bub:hover{
    filter: blur(0);
    /* filter: drop-shadow(2px 2px 2px aqua) */
}